# Git
.git
.gitignore
.gitattributes

# Docker
Dockerfile
docker-compose.yml
.docker
.dockerignore

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]
**/*.so

# Distribution / packaging
.venv
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Tools
.ruff_cache
.mypy_cache
.pytest_cache/

# IDE
.idea/
.vscode/
